.profile_changepassword__main_container {
    background-color: black;
    padding: 70px 30px 0px 30px;
    overflow-y: scroll;
    /* height: 100%; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    overflow-y: scroll;
}


.profile_changepassword__main_wrapper {}

.profile_changepassword__main {}

.form_main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}

.form_main h1 {
    color: #922B21;
}


.form_main div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.form_main input {
    width: 300px;
    border-radius: 10px;
    padding: 4px;
    color: black;
}

.form_main input:focus {
    border: 3px solid #922B21;
}

@media screen and (max-device-width: 400px) {
    .form_main input {
        width: 250px;
    }
}






.submitBtn {
    padding: 5px 30px;
    border: 3px solid #922B21;
    border-radius: 5px;
    margin: 30px 100px;
    background-color: white;
    color: #922B21;
}

.submitBtn:focus {
    border: 3px solid white;
    background-color: #922B21;
    color: white;
}

.changepassword_main span {
    color: #922B21;
}

.formErrors {
    text-align: center;
    color: rgb(203, 4, 4);
    padding: 5px;
}

.updatedSuccessMsg {
    text-align: center;
    color: greenyellow;
}


.errorMsg {
    text-align: center;
    color: red;
}