.changePassword__main_container {
    background-color: black;
    padding: 70px 30px 0px 30px;
    overflow-y: scroll;
    /* height: 100%; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
    overflow-y: scroll;
}

.changePassword__main {
    margin: auto;
}


.changePassword__main h1 {
    text-align: center;
    padding: 2px;
    color: #922B21;
}

.changePassword__main h5 {
    text-align: center;
}

.changePassword__main p {
    text-align: center;
    padding: 2px;
    color: red;
}

.changePassword__form_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.changePassword__form_main label {
    text-align: center;
    padding: 20px;
}

.changePassword__form_main_input {
    width: 300px;
    border-radius: 10px;
    padding: 4px;
    color: black;
}


.changePassword__form_main_input:focus {
    border: 3px solid #922B21;
    padding: 4px 8px;

}

@media screen and (max-device-width: 400px) {
    .changePassword__form_main_input {
        width: 250px;
    }
}

.resend_code {
    color: white !important;
    margin-top: 50px !important;
    padding: 0px 0px;
}

.resend_code span {
    color: #922B21;
    font-weight: 700;
}

.submitBtn {
    padding: 5px 10px;
    border: 3px solid #922B21;
    border-radius: 5px;
    margin: 30px 100px;
    background-color: white;
    color: #922B21;
}

.submitBtn:focus {
    border: 3px solid white;
    background-color: #922B21;
    color: white;
}

.success_res_text {
    text-align: center;
    color: yellowgreen !important;
}

.error_res_text {
    text-align: center;
    color: red;
}