.singleNote__main_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
}

.notes__desc {
    margin-top: 150px;
    text-align: center;
}

.notes__container_child {

    margin: auto;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    width: 80%;
    text-align: center;
    color: black;

}

.notes__container_goBack {
    cursor: pointer;
}